{% extends 'entrance/layout.html' %}

{% block content %}
<div class="container mt-5">
	<div class="paragraph">
		<br>
		<h2>В стрессовых ситуациях часто советуют глубоко вдохнуть и выдохнуть.</h2>
		<p>Иногда такие советы раздражают своей очевидностью, но они действительно могут помочь.
			Как показывают исследования, размеренное дыхание — один из самых эффективных и простых
			способов перевести организм из стрессового состояния в спокойное.</p>
		<p>Самое приятное в дыхательных упражнениях то, что они не требуют ни большого количества
			времени, ни финансовых затрат. Как написал в своей книге нейрохирург Рахул Джандиал,
			самые удивительные вещи в жизни нам достаются бесплатно и возможность влиять на свое
			состояние с помощью дыхания — одна из них.</p>
		<p>Рассказываем, что науке известно о пользе дыхательных техник, и рекомендуем
			9 простых упражнений: выбирайте самое комфортное.</p>
		<br>
	</div>
	<div class="paragraph">
		<h6>Практика №1</h6>
		<h3>Дыхание 4—7—8</h3>
		<p>Техника максимально простая: дышать нужно так, чтобы четыре секунды уходили на вдох,
			семь — на задержку дыхания, восемь — на выдох. Удлинение выдоха должно способствовать
			активации парасимпатической нервной системы и расслаблению.</p>
		<p><b>Как дышать:</b></p>
		<ol>
			<li>Вдохните через нос так, чтобы вдох длился четыре секунды. Кончик языка при этом должен
				упираться в небо над передними зубами.</li>
			<li>Задержите дыхание на семь секунд.</li>
			<li>Выдыхайте через рот так, чтобы выдох длился восемь секунд. При этом нужно свернуть губы
				трубочкой так, чтобы проходящий сквозь них воздух создавал свистящий звук.</li>
			<li>Повторите 4—8 раз.</li>
		</ol>
		<br>
	</div>
	<div class="paragraph">
		<h6>Практика №2</h6>
		<h3>Асимметричное дыхание</h3>
		<p>Эта техника тоже основана на удлинении выдоха, но есть важное отличие: задерживать дыхание
			не нужно. Главное — вдыхать через нос, выдыхать через рот и делать выдох в пять раз
			длиннее вдоха.</p>
		<p><b>Как дышать:</b></p>
		<ol>
			<li>Вдохните через нос на два счета.</li>
			<li>Выдохните на 8—10 счетов — в идеале выдох должен быть в пять раз длиннее вдоха.</li>
			<li>Продолжайте дышать так несколько минут.</li>
		</ol>
		<br>
	</div>
	<div class="paragraph">
		<h6>Практика №3</h6>
		<h3>Коробочное дыхание 4—4—4—4</h3>
		<p>Эту технику используют спецназовцы ВМС США, чтобы быстро овладеть собой в стрессовой ситуации.</p>
		<p>Представьте коробку или квадрат с равными сторонами. Каждая сторона вашего квадрата —
			один такт дыхания: вдох, задержка дыхания, выдох, задержка дыхания. Как и стороны
			квадрата, такты равны: каждый длится по 4 счета или секунды.</p>
		<p>Когда дышите, представляйте движение по сторонам этого квадрата. По словам клинического
			психолога котта Симингтона, такая визуализация помогает сконцентрироваться на дыхании
			и быстрее привыкнуть к нужному ритму.</p>
		<p><b>Как дышать:</b></p>
		<ol>
			<li>Сделайте вдох на четыре счета.</li>
			<li>Задержите дыхание на четыре счета.</li>
			<li>Сделайте выдох на четыре счета.</li>
			<li>Задержите дыхание на четыре счета.</li>
			<li>Начните цикл заново и дышите так 1—5 минут.</li>
		</ol>
		<br>
	</div>
	<div class="paragraph">
		<h6>Практика №4</h6>
		<h3>Диафрагмальное дыхание</h3>
		<p>Положите одну руку на грудную клетку, а другую — на живот, и обратите внимание,
			как вы дышите сейчас. Если грудь вздымается, а живот остается неподвижным —
			ваше дыхание грудное.</p>
		<p>Дыхание, в котором участвует живот, называется диафрагмальным. Это не какая-то
			специальная техника. Диафрагма — мышца в форме купола, расположенная под легкими
			— нужна людям именно для дыхания. Когда мы вдыхаем, она опускается, давая легким
			пространство, чтобы расшириться. Когда выдыхаем — поднимается, выталкивая воздух наружу.
			При этом в такт вдохам и выдохам поднимается и опадает живот.</p>
		<p>Диафрагмальное дыхание увеличивает объем вдыхаемого воздуха и насыщение клеток кислородом.
			Чтобы понять, зачем это нужно, вспомните, каково находиться в душном помещении: от
			нехватки кислорода кружится голова, наступает сонливость и слабость. Когда мы выходим
			на свежий воздух, стабилизируется артериальное давление, ускоряется обмен веществ,
			напряжение уходит, и становится легче сосредоточиться.</p>
		<p>Диафрагмальное дыхание дает похожий эффект. Исследования показывают, что оно также
			может снижать уровень стресса, тревоги и депрессии. Еще такое дыхание рекомендуют
			при астме и одышке, так как оно помогает насытить легкие и организм кислородом.</p>
		<p><b>Как дышать:</b></p>
		<ol>
			<li>Положите одну руку на грудь, а вторую — на живот.</li>
			<li>Медленно вдыхайте через нос. Вдох должен длиться не меньше трех секунд.</li>
			<li>Столь же медленно выдыхайте носом. Выдох должен длиться не меньше трех секунд.</li>
			<li>Дышите так несколько минут. Например, можно начать с пяти минут.</li>
		</ol>
		<br>
	</div>
	<div class="paragraph">
		<h6>Практика №5</h6>
		<h3>Резонансное когерентное дыхание</h3>
		<p>У этой техники два главных слагаемых. Первое — равномерное дыхание, когда вдох и
			выдох одной длины. Специалист по телесной работе с травмами Пол Линден называет
			такое дыхание «бесшовным», так как оно получается максимально сглаженным: темп медленный
			и не меняется, остановок нет, вдох и выдох равны друг другу. Совсем не так мы дышим
			при стрессе: сбивчиво, быстро, задыхаясь.</p>
		<p>Второе слагаемое — фиксированная длительность: по пять с половиной секунд на вдох и
			столько же на выдох. Если попробуете так дышать, будете делать по пять с половиной
			циклов дыхания за минуту. Это гораздо меньше, чем обычно: как правило, за то же время
			люди успевают вдохнуть и выдохнуть 10—20 раз.</p>
		<p>Исследования показывают: резонансное когерентное дыхание сильнее, чем другие дыхательные
			техники, увеличивает вариабельность сердечного ритма — показатель, который отражает
			неравномерность сердцебиения человека. Высокая вариабельность означает, что длительность
			интервалов между ударами сердца разная. И это хорошо: чем выше этот показатель, тем
			лучше организм контролирует работу сердца, адаптируется к стрессу и регулирует
			астроение. Низкая вариабельность, напротив, наблюдается при депрессии, тревоге и
			хроническом стрессе.</p>
		<p><b>Как дышать:</b></p>
		<ol>
			<li>Медленно вдыхайте в течение пяти с половиной секунд, надувая живот и пропуская
				воздух в нижнюю часть легких.</li>
			<li>Выдыхайте также в течение пяти с половиной секунд, сдувая живот и выталкивая воздух из легких.</li>
			<li>Повторите цикл хотя бы десять раз.</li>
		</ol>
		<br>
	</div>
	<div class="paragraph">
		<h6>Практика №6</h6>
		<h3>Дыхание с сопротивлением</h3>
		<p>Суть метода — в том, чтобы вдыхать как обычно, а на выдохе создавать сопротивление.
			Делать это можно разными способами. Йоги, например, выдыхают через нос, но при этом
			напрягают горло — как если бы выдыхали через рот со звуком «хаа». Если делаете выдох
			через рот, напряжение создают сомкнутые губы или зубы. Или можно выдыхать воздух через
			трубочку — тогда физика сделает все за вас. Итог: дыхание замедлится и вы успокоитесь.</p>
		<p>Еще сопротивление на выдохе тренирует дыхательную мускулатуру и выносливость легких
			и может помочь уменьшить одышку. К тому же работоспособность легких — важный фактор,
			предсказывающий долголетие.</p>
		<p><b>Как дышать:</b></p>
		<ol>
			<li>Вдохните как обычно.</li>
			<li>Выдыхайте так, будто вам приходится выталкивать воздух с усилием.
				Лучше всего — через нос, напрягая голосовые связки.</li>
			<li>Дышите так три-пять минут — для начала этого хватит. Когда освоите метод,
				можете продлить время выполнения упражнения.</li>
		</ol>
		<br>
	</div>
	<div class="paragraph">
		<h6>Практика №7</h6>
		<h3>Попеременное дыхание через каждую ноздрю</h3>
		<p>Такое дыхание практикуют йоги во время медитаций: дышат то одной, то другой
			ноздрей или чередуют — для баланса. Они считают, что дыхание через правую ноздрю
			активирует левое полушарие мозга и тонизирует, а через левую — активирует правое
			полушарие и успокаивает.</p>
		<p>Небольшие исследования подтверждают, что вдохи и выдохи через разные ноздри влияют
			на организм по-разному. Но пока серьезного научного обоснования у гипотезы нет.
			Тем не менее замедление дыхания в любом случае принесет организму пользу, так что
			если вам нравится именно это упражнение, не имеет смысла от него отказываться.</p>
		<p><b>Как дышать:</b></p>
		<ol>
			<li>Закройте глаза и сделайте несколько глубоких вдохов и выдохов через нос.</li>
			<li>Закройте правую ноздрю большим пальцем правой руки, плавно вдохните через левую ноздрю.</li>
			<li>Закройте левую ноздрю безымянным пальцем — обе ноздри окажутся закрыты. Здесь нужно
				сделать короткую паузу.</li>
			<li>Откройте правую ноздрю и плавно выдохните через нее, снова сделав короткую паузу в конце выдоха.</li>
			<li>Медленно вдохните через правую ноздрю.</li>
			<li>Снова закройте обе ноздри и сделайте паузу.</li>
			<li>Откройте левую ноздрю и плавно выдохните через нее, в конце — пауза.</li>
			<li>Повторите пять-десять циклов, сохраняя внимание на вдохе и выдохе.</li>
		</ol>
		<p><b>Особое указание.</b> Если вам мешают средний и указательный пальцы, когда вы зажимаете
			левую ноздрю безымянным, положите их на переносицу.</p>
		<br>
	</div>
	<div class="paragraph">
		<h6>Практика №8</h6>
		<h3>Прогрессивная мышечная релаксация</h3>
		<p>Строго говоря, это не совсем дыхательная техника: суть в том, чтобы в такт
			дыханию попеременно напрягать и расслаблять мышцы. В основе простой принцип: после
			сильного напряжения следует сильное расслабление.</p>
		<p>Прогрессивная мышечная релаксация помогает снять физическое напряжение, например мышечное
			после тренировок. Дело в том, что во время стресса мышцы рефлекторно напрягаются.
			Из-за этого могут появиться боль и онемение в области шеи и плеч — это самая уязвимая
			зона, которую мы напрягаем в первую очередь. Кроме того, это мышечное напряжение может
			усугубить стресс.</p>
		<p>Придумал технику американский врач, физиолог и психиатр Эдмунд Якобсон еще в 1929 году.
			Есть несколько исследований, подтвердивших, что она снижает тревогу и эффективно борется
			с бессонницей.</p>
		<p><b>Как дышать:</b></p>
		<ol>
			<li>Расположитесь удобно и медленно вдохните.</li>
			<li>Задержите дыхание на пять-семь секунд — и в это время напрягайте какую-либо мышцу тела.</li>
			<li>Также медленно выдыхайте — одновременно расслабляйте мышцу.</li>
			<li>Повторите пункты 2—4 с остальными мышцами тела.</li>
		</ol>
		<p><b>Особое указание.</b> Удобнее всего выполнять технику сидя или лежа. Начать можно с
			пальцев ног и постепенно подниматься выше, дойдя в конце концов до шеи. Можно также
			задействовать лицо — мышцы вокруг глаз, губы, брови. Когда вы ощутили расслабление,
			его можно продлить: сделать еще несколько обычных циклов дыхания, сосредотачиваясь на
			этом ощущении. Затем переходить к следующей мышце.</p>
		<br>
	</div>
	<div class="paragraph">
		<h6>Практика №9</h6>
		<h3>Дыхание с аромамаслом</h3>
		<p>Запахи — огромный простор для экспериментов с дыхательными практиками: они могут и
			взбодрить, и успокоить. Так, небольшие исследования показывают, что аромат лаванды
			способствует расслаблению, а розмарина — благотворно влияет на концентрацию, память
			и продуктивность.</p>
		<p>Правда, этот эффект связан не столько с характеристиками конкретного запаха,
			сколько с нашими ожиданиями и памятью. Если человек считает, что аромат расслабляет
			— так он на него и подействует. А если аромат ассоциируется с приятными воспоминаниями,
			например яблочным пирогом любимой бабушки, — то настроение улучшится.</p>
		<p><b>Как дышать.</b> Выберите аромамасло или ароматическую свечу с запахом, который
			ассоциируется с расслаблением, и соедините аромат с любой дыхательной техникой
			из перечисленных выше. Например, с резонансным когерентным дыханием. Дышите медленно,
			ровно и спокойно через нос и обязательно обращайте внимание на запах.</p>

		<br>
	</div>
</div>
{% endblock %}