{% extends 'entrance/layout.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
	<div class="row">

		<div class="col-md-3">
			<div class="playlist">
				<div class="image">
					<img src="{% static 'entrance/img/nature9.png'%}" alt="nature">
				</div>
				<div class="info">
					<a href="nature">Звуки природы</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="playlist">
				<div class="image">
					<img src="{% static 'entrance/img/ufo3.jpg'%}" alt="space">
				</div>
				<div class="info">
					<a href="space">Космос</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="playlist">
				<div class="image">
					<img src="{% static 'entrance/img/ufo5.jpg'%}" alt="micro">
				</div>
				<div class="info">
					<a href="asmr">ASMR</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="playlist">
				<div class="image">
					<img src="{% static 'entrance/img/lofi2.jpg'%}" alt="lofi">
				</div>
				<div class="info">
					<a href="lofi">Lo-fi</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="playlist">
				<div class="image">
					<img src="{% static 'entrance/img/lofi1.jpg'%}" alt="whitenoise">
				</div>
				<div class="info">
					<a href="whitenoise">Белый шум</a>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}